body{
    /*background: url("../../assets/Magic-the-gathering-wallpapers-hd.jpeg");*/
    background: black;
    background-size: cover;

}



.container{
    margin: 0!important;
    padding: 0!important;
}
.head{
    color: white;
}


.hidden{
    display:none;
}